<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a [routerLink]="['/feed']" class="nav-link" routerLinkActive="active"> Your feed </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" 
         [routerLink]="['/']"
         [routerLinkActive]="'active'"
         [routerLinkActiveOptions]="{exact: true}"
      > Global feed </a>
    </li>

    <li class="nav-item" *ngIf="tagNameProp">
      <a [routerLink]="['/tags', tagNameProp]" class="nav-link" routerLinkActive="active">
        <i class="ion-pound"></i>
         {{ tagNameProp }} </a>
    </li>

  </ul>
</div>
